services:
  payment-db:
    image: postgres:15
    container_name: payment-db
    environment:
      POSTGRES_DB: paymentdb
      POSTGRES_USER: paymentuser
      POSTGRES_PASSWORD: paymentpass
    ports:
      - "5434:5432"
    volumes:
      - payment_db_data:/var/lib/postgresql/data

volumes:
  payment_db_data:
