services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092

      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  order-db:
    image: postgres:15
    container_name: order-db
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: orderuser
      POSTGRES_PASSWORD: orderpass
    ports:
      - "5433:5432"
    volumes:
      - order_db_data:/var/lib/postgresql/data

  payment-db:
    image: postgres:15
    container_name: payment-db
    environment:
      POSTGRES_DB: paymentdb
      POSTGRES_USER: paymentuser
      POSTGRES_PASSWORD: paymentpass
    ports:
      - "5434:5432"
    volumes:
      - payment_db_data:/var/lib/postgresql/data

  saga-db:
    image: postgres:15
    container_name: saga-db
    environment:
      POSTGRES_DB: sagadb
      POSTGRES_USER: sagauser
      POSTGRES_PASSWORD: sagapass
    ports:
      - "5435:5432"
    volumes:
      - saga_db_data:/var/lib/postgresql/data

  inventory-db:
    image: postgres:15
    container_name: inventory-db
    environment:
      POSTGRES_DB: inventorydb
      POSTGRES_USER: inventoryuser
      POSTGRES_PASSWORD: inventorypass
    ports:
      - "5436:5432"
    volumes:
      - inventory_db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"

  gateway-service:
    build:
      context: .
      dockerfile: services/gateway-service/Dockerfile
    container_name: gateway-service
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
      - SPRING_CLOUD_GATEWAY_ROUTES_0_ID=order-service
      - SPRING_CLOUD_GATEWAY_ROUTES_0_URI=http://order-service:8081
      - SPRING_CLOUD_GATEWAY_ROUTES_0_PREDICATES_0=Path=/api/orders/**
      - SPRING_CLOUD_GATEWAY_ROUTES_0_FILTERS_0=StripPrefix=1
      - SPRING_CLOUD_GATEWAY_ROUTES_1_ID=inventory-service
      - SPRING_CLOUD_GATEWAY_ROUTES_1_URI=http://inventory-service:8084
      - SPRING_CLOUD_GATEWAY_ROUTES_1_PREDICATES_0=Path=/api/inventory/**
      - SPRING_CLOUD_GATEWAY_ROUTES_1_FILTERS_0=StripPrefix=1
      - SPRING_CLOUD_GATEWAY_ROUTES_2_ID=payment-service
      - SPRING_CLOUD_GATEWAY_ROUTES_2_URI=http://payment-service:8082
      - SPRING_CLOUD_GATEWAY_ROUTES_2_PREDICATES_0=Path=/api/payments/**
      - SPRING_CLOUD_GATEWAY_ROUTES_2_FILTERS_0=StripPrefix=1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - zipkin
      - order-service

  order-service:
    build:
      context: .
      dockerfile: services/order-service/Dockerfile
    container_name: order-service
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
      - SPRING_DATASOURCE_URL=jdbc:postgresql://order-db:5432/orderdb
      - SPRING_DATASOURCE_USERNAME=orderuser
      - SPRING_DATASOURCE_PASSWORD=orderpass
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - order-db
      - kafka
      - redis
      - zipkin

  notification-service:
    build:
      context: .
      dockerfile: services/notification-service/Dockerfile
    container_name: notification-service
    ports:
      - "8084:8084"
    environment:
      - SERVER_PORT=8084
      - SPRING_DATASOURCE_URL=jdbc:postgresql://notification-db:5432/notificationdb
      - SPRING_DATASOURCE_USERNAME=notificationuser
      - SPRING_DATASOURCE_PASSWORD=notificationpass
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - SPRING_MAIL_HOST=mailhog
      - SPRING_MAIL_PORT=1025
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      - kafka
      - notification-db
      - mailhog
      - zipkin

  payment-service:
    build:
      context: .
      dockerfile: services/payment-service/Dockerfile
    container_name: payment-service
    ports:
      - "8082:8082"
    environment:
      - SERVER_PORT=8082
      - SPRING_DATASOURCE_URL=jdbc:postgresql://payment-db:5432/paymentdb
      - SPRING_DATASOURCE_USERNAME=paymentuser
      - SPRING_DATASOURCE_PASSWORD=paymentpass
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      - payment-db
      - kafka
      - zipkin

  inventory-service:
    build:
      context: .
      dockerfile: services/inventory-service/Dockerfile
    container_name: inventory-service
    ports:
      - "8083:8083"
    environment:
      - SERVER_PORT=8083
      - SPRING_DATASOURCE_URL=jdbc:postgresql://inventory-db:5432/inventorydb
      - SPRING_DATASOURCE_USERNAME=inventoryuser
      - SPRING_DATASOURCE_PASSWORD=inventorypass
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      - inventory-db
      - kafka
      - zipkin

  saga-orchestrator:
    build:
      context: .
      dockerfile: services/saga-orchestrator/Dockerfile
    container_name: saga-orchestrator
    ports:
      - "8085:8085"
    environment:
      - SERVER_PORT=8085
      - SPRING_DATASOURCE_URL=jdbc:postgresql://saga-db:5432/sagadb
      - SPRING_DATASOURCE_USERNAME=sagauser
      - SPRING_DATASOURCE_PASSWORD=sagapass
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
      - saga-db
      - kafka
      - zipkin

  notification-db:
    image: postgres:15
    container_name: notification-db
    environment:
      POSTGRES_DB: notificationdb
      POSTGRES_USER: notificationuser
      POSTGRES_PASSWORD: notificationpass
    ports:
      - "5437:5432"
    volumes:
      - notification_db_data:/var/lib/postgresql/data

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

  fulfillment-db:
    image: postgres:15
    container_name: fulfillment-db
    environment:
      POSTGRES_DB: fulfillmentdb
      POSTGRES_USER: fulfillmentuser
      POSTGRES_PASSWORD: fulfillmentpass
    ports:
      - "5438:5432"
    volumes:
      - fulfillment_db_data:/var/lib/postgresql/data

  fulfillment-service:
    build:
      context: .
      dockerfile: services/fulfillment-service/Dockerfile
    container_name: fulfillment-service
    ports:
      - "8086:8086"
    environment:
      - SERVER_PORT=8086
      - SPRING_DATASOURCE_URL=jdbc:postgresql://fulfillment-db:5432/fulfillmentdb
      - SPRING_DATASOURCE_USERNAME=fulfillmentuser
      - SPRING_DATASOURCE_PASSWORD=fulfillmentpass
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
    depends_on:
      - fulfillment-db
      - kafka

  prometheus:
    image: prom/prometheus:v2.51.2
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana:10.4.2
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_SECURITY_COOKIE_SAMESITE=none
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - prometheus

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: zentra-local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
      SERVER_SERVLET_SESSION_COOKIE_SAMESITE: None
      DYNAMIC_CONFIG_ENABLED: "true"
    depends_on:
      - kafka
    restart: on-failure

volumes:
  order_db_data:
  payment_db_data:
  saga_db_data:
  inventory_db_data:
  notification_db_data:
  fulfillment_db_data:
  prometheus_data:
  grafana_data:
