apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: oms-ingress
spec:
  rules:
    - host: oms.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: gateway-service
                port:
                  number: 8080
